/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.center-align {
  vertical-align: middle;
  text-align: center;
}

.width-100-percent {
  width: 100%;
  margin-top: 20px !important;
}

.primary-color {
  background-color: #673ab7;
  color: white;
}
